<html>
<head>
<script>document.domain = document.domain;</script>
<title>muxlist</title>
<script src="/static/jquery-1.4.2.min.js"></script>
<!-- script src="http://code.jquery.com/jquery-1.4.4.min.js"></script -->
<script src="/static/Orbited.js"></script>
<script>
Orbited.settings.port = 9000;
Orbited.settings.hostname = "{{ hostname }}";
TCPSocket = Orbited.TCPSocket
</script>
<script src="/static/stomp.js"></script>
<script src="/static/jquery.client.js"></script>
<script src="/static/jquery.dnd-file-upload.js"></script>
<script src="/static/jquery.jplayer.min.js"></script>
<script>
var stomp;
function comet_ready() {
	console.log("ready");
	$.post('./current/');
}
$(document).ready(function () {
	stomp = new STOMPClient();
	stomp.onconnectedframe = function () {
		$("<li><i>Connected to channel /mix/{{ group.name }} -- this shit is sooo cash!</i></li>").appendTo('#stream');
		stomp.subscribe('/mix/{{ group.name }}');
                stomp.subscribe('/user/{{ user.id }}');
		// why??
                setTimeout("comet_ready()", 50)
	};
	stomp.onreceiptframe = function (frame) {
		data = JSON.parse(frame.body)
                console.log(frame)
	}
        stomp.onmessageframe = function (frame) {
		data = JSON.parse(frame.body);
                console.log("message", data)
		if (data.type == 'chat') {
			$('<li><b>' + data.user + '</b>: ' + data.message + '</li>').appendTo('#stream');
		} else if (data.type == 'song') {
			$('<li><b>' + data.user + '</b> is playing <b>' + data.artist + ' - ' + data.title + '</b></li>').appendTo('#stream');
			var jp = $('#jplayer');
			jp.jPlayer('stop');
			jp.jPlayer('setFile', data.url);
			setTimeout('$("#jplayer").jPlayer("play")', 1000);
			
		} else if (data.type == 'debug') {
			$('<li><i>DEBUG: ' + data.msg + '</i></li>').appendTo('#stream')
		}
	}
	stomp.connect('localhost', 61613);

{% if user.is_authenticated %}
	$("#everything").dropzone({ url: '/music/begin_slice/' });

	$.fn.dropzone.uploadFinishedResponse = function (xhr) {
		var file = $.fn.getLastFile();
		if (xhr.status == 200) {
			$.fn.clearLastFile();
			if ($.fn.getURL() == '/music/begin_slice/') {
				console.log("worked on first try");
			} else {
				console.log("we're good!");
			}
			$.fn.setURL('/music/begin_slice/');
			return;
		}

		if ($.fn.getURL() == '/music/begin_slice/') {
			if (xhr.status == 402) {
				$.fn.setURL('/music/middle_slice/');
				var size = file.fileSize;
				console.log("trying next");
				$.fn.startXHRSlice(file, xhr.upload.fileIndex + 1, Math.floor(size/2)-50, Math.floor(size/2)+50);
				return;
			} else if (xhr.status == 404) {
				console.log(file);
				$.fn.setURL('/music/upload/');
				console.log("trying all from begin");
				$.fn.startXHRAll(file, xhr.upload.fileIndex + 1);
				return;
			}
		}

		if ($.fn.getURL() == '/music/middle_slice/') {
			if (xhr.status == 402) {
				$.fn.setURL('/music/end_slice/');
				var size = file.fileSize;
				console.log("trying next");
				$.fn.startXHRSlice(file, xhr.upload.fileIndex + 1, size-100, size);
				return;
			} else if (xhr.status == 404) {
				$.fn.setURL('/music/upload/');
				console.log('trying all');
				$.fn.startXHRAll(file, xhr.upload.fileIndex + 1);
				return;
			}
		}
	}
{% endif %}

	function song_ended() {
                console.log("requesting next");
		$.post('./next/')
	}

	$('#jplayer').jPlayer({
		ended: function (event) { alert('ended'); },
		swfPath: '/static/',
		solution: $.browser.webkit ? 'flash, html' : 'html, flash',
                supplied: 'mp3',
		preload: 'auto'
	});
});
function send_chat() {
	$.post('./add/', {'msg': $('#message').val()});
	$('#message').val('').focus();
}
function send_chat_enter(event) {
	if (event.keyCode == 13) {
		send_chat();
	}
}
</script>
</head>
<body>
<div id="everything" style="height:100%">
<div id="container" style="width:600px;margin:auto;">
<div id="jplayer"></div>
{% if user.is_authenticated %}
Logged in as {{ user }} <a href="/account/logout/">Logout</a>
{% endif %}
<ul id="stream">
</ul>
{% if user.is_authenticated %}
Chat: <input type="text" id="message" onkeypress="send_chat_enter(event)"><input type="button" value="Send" onclick="send_chat()">
{% endif %}
<ol>
{% for h in history %}
<li>{{ h.1 }}</li>
{% endfor %}
</ol>
</div>
</div>
</body>
</html>
