<html>
<head>
<script>document.domain = document.domain;</script>
<title>muxlist</title>
<!-- <script src="http://code.jquery.com/jquery-1.4.4.min.js"></script> -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="/static/Orbited.js"></script>
<script>
Orbited.settings.port = 9000;
Orbited.settings.hostname = "65.96.165.156";
TCPSocket = Orbited.TCPSocket
</script>
<script src="/static/stomp.js"></script>
<script src="/static/jquery.jplayer.min.js"></script>
<script>
var stomp;
$(document).ready(function () {
	$("#jplayer").jPlayer({ swfPath: '/static/', volume: 50 });
	stomp = new STOMPClient();
	stop.onopen = function () {
		alert("opening client");
	};
	stomp.onconnectedframe = function () {
		$("<li><i>Connected to channel /mix/{{ group.name }} -- shit's sooo cash!</i></li>").appendTo('#stream');
		stomp.subscribe('/mix/{{ group.name }}');
	};
        stomp.onmessageframe = function (frame) {
		data = JSON.parse(frame.body);
		if (data.type == 'chat') {
			$('<li><b>' + data.user + '</b>: ' + data.message + '</li>').appendTo('#stream');
		} else if (data.type == 'song') {
			$('<li><b>' + data.user + '</b> is playing <b>' + data.artist + ' - ' + data.title + '</b></li>').appendTo('#stream');
			$('#jplayer').jPlayer('stop').jPlayer('setFile', data.url).jPlayer('play');
			
		}
	}
	stomp.connect('localhost', 61613);
});
function send_chat() {
	$.post('./add/', {'msg': $('#message').val()});
	$('#message').val('').focus();
}
function play_song(id) {
	$.post('./song/', {'id': id});
}
function send_chat_enter(event) {
	if (event.keyCode == 13) {
		send_chat();
	}
}
</script>
</head>
<body>
<div id="jplayer"></div>
<ul id="stream">
</ul>
Chat: <input type="text" id="message" onkeypress="send_chat_enter(event)"><input type="button" value="Send" onclick="send_chat()">
<h4>Your music:</h4>
<ul>
{% for track in tracks %}
<li>{{ track.artist }} - {{ track.title }} <input type="button" value="Play" onclick="play_song({{ track.id }})"></li>
{% endfor %}
</ul>
<input type="button" value="Stop (just me)" onclick="$('#jplayer').jPlayer('stop')">
</body>
</html>
